{% load i18n %}{% autoescape off %}
{% trans "Hi" %},

{% blocktrans %}You're receiving this email because you requested a password reset for your account at Ridgway Garage.{% endblocktrans %}

{% trans "Please click the link below to set a new password:" %}

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

{% trans "This link will expire in 24 hours." %}

{% trans "If you didn't request this password reset, you can safely ignore this email. Your password will remain unchanged." %}

{% trans "Thanks," %}
{% trans "The Ridgway Garage Team" %}
{% endautoescape %}
